.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 2px solid #e72929;
  border-radius: 10px;
  padding: 2rem;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  padding-left: 10px;
}

input {
  margin-top: 5px;
  width: 15rem;
  padding: 0 20px;
  height: 2rem;
  /* border: none; */
  outline: none;
  border-color: gray;
  border-radius: 15px;
}

button {
  background-color: #e72929;
  flex: 1;
  border-radius: 10px;
  border: none;
  color: white;
  font: 1em sans-serif;
}

.buttons {
  gap: 20px;
  justify-content: space-between;
  display: flex;
  height: 2.5rem;
}

.error-list {
  color: red;
}
