ul {
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

img {
  height: 10rem;
  width: 18rem;
  border: 1px solid whitesmoke;
  border-radius: 1px;
  margin: 0.5rem;
  overflow: hidden;
  color: red;
}

img:hover {
  opacity: 0.9;
}

.favorite {
  color: #e72929;
  font-size: 1.6rem;
}

.favorite.not {
  color: gray;
}

.content {
  margin-left: 20px;
}
