.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 2px solid red;
  border-radius: 10px;
  padding: 3rem;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  padding-left: 10px;
}

input {
  margin-top: 5px;
  width: 15rem;
  padding: 0 20px;
  height: 2rem;
  /* border: none; */
  outline: none;
  border-color: gray;
  border-radius: 15px;
}

button {
  height: 2.5rem;
  width: 5rem;
  margin: 2rem auto;
  display: block;
  border-radius: 10px;
  border: none;
  color: brown;
  font: 1em sans-serif;
}

.gap {
  margin: 2rem 0;
}
