<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <h2>Login</h2>
    <div>
      <p>Email</p>
      <input type="email" name="email" formControlName="email" />
      <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
        <div *ngIf="fc['email'].errors['required']">
          Email should not be Empty
        </div>
        <div *ngIf="fc['email'].errors['email']">Email is Incorrect</div>
      </div>
      <div style="margin: 2rem 0"></div>
      <p>Password</p>
      <input type="passkey" name="passkey" formControlName="passkey" />
      <div class="error-list" *ngIf="fc['passkey'].errors && isSubmitted">
        <div *ngIf="fc['passkey'].errors['required']">
          Password should not be Empty
        </div>
      </div>
    </div>
    <div style="margin: 2rem 0"></div>
    <div class="buttons">
      <button>Login</button>
      <button
        routerLink="/register"
        style="
          background-color: whitesmoke;
          color: black;
          border: 1px gray solid;
        "
      >
        Register
      </button>
    </div>
  </form>
</div>
