<app-search />
<ul>
  <li *ngFor="let food of foods">
    <a routerLink="/food/{{ food.id }}">
      <img [src]="food.imageUrl" [alt]="food.name" />
      <div class="content">
        <div class="name">
          {{ food.name }}
        </div>
        <span class="favorite {{ food.favorite ? '' : 'not' }}">❤</span>
        <div class="stars">
          <span
            *ngFor="let i of starArray"
            class="material-icons"
            style="
              color: red;
              margin-right: 5px;
              -webkit-text-stroke-width: 5px;
            "
            [ngStyle]="{ color: food.stars >= i ? 'red' : 'black' }"
            >star</span
          >
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{ origin }}
            </span>
          </div>

          <div class="cook-time">
            <span>🕒</span>
            {{ food.cookTime }}
          </div>
        </div>

        <div class="price">
          <span>
            {{ food.price | currency }}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
